<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="It's Sudoku!">

    <title>Sudoku</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'sudoku/style.css' %}">
</head>

<body>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'sudoku/main.js' %}"></script>

    <div class="container text-center">
        </br>
        <h1><a href="{% url 'index' %}">Sudoku</a></h1>
        </br>

        <form action="{% url 'index' %}" method="post" id="config_form"
            class="row row-cols-lg-auto justify-content-center">
            {% csrf_token %}
            <div class="col-1 pe-0 my-auto">
                <label for="size_select">Size</label>
            </div>
            <div class="col-2">
                <select class="form-select" id="size_select" name="size" value="{{ size }}">
                    {% for v in '2345' %} {% if v == size|floatformat:"0" %}
                    <option value="{{ v }}" selected>{% widthratio v 1 v %}x{% widthratio v 1 v %}</option>
                    {% else %}
                    <option value="{{ v }}">{% widthratio v 1 v %}x{% widthratio v 1 v %}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>
            <div class="col-1 pe-0 my-auto">
                <label for="difficulty_select">Difficulty</label>
            </div>
            <div class="col-2">
                <select class="form-select" id="difficulty_select" name="difficulty" value="{{ difficulty }}">
                    {% for v in '0123456' %} {% if v == difficulty|floatformat:"0" %}
                    <option value="{{ v }}" selected>{{ v }}</option>
                    {% else %}
                    <option value="{{ v }}">{{ v }}</option>
                    {% endif %} {% endfor %}
                </select>
            </div>
            <div class="col-2">
                <label for="new_puzzle"></br></label>
                <button class="btn btn-primary" value="1" id="config_btn" type="submit" name='new_puzzle'>New</button>
            </div>
        </form>
        </br>

        <div id='success'></div>
        </br>

        <form action="{% url 'index' %}" method="post" id="puzzle_form">
            {% csrf_token %}
            <input type="hidden" name="time" id="time" value="{{ time }}">
            <input type="hidden" name="size" id="size" value="{{ size }}">
            <input type="hidden" name="difficulty" id="difficulty" value="{{ difficulty }}">
            <div class="row">
                <table class="col-auto" id="grid">
                    <script>
                        new_puzzle()
                    </script>
                </table>
            </div>
            </br>
            <button class="btn btn-success" type="submit" id="submit_btn" value="1" name='submit_puzzle'>Check</button>
        </form>
        </br>
    </div>
</body>

</html>