html,
body {
    background-color: #FAFAFA
}

table {
    border: 2px solid #000000;
    margin-left: auto;
    margin-right: auto;
}

td {
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
}

.alert {
    max-width: 300px;
}

select {
    min-width: 110px;
}

.form-select {
    color: #222222;
    background-color: #FFFFFF;
}

input {
    color: #000000;
    padding: 0;
    border: 0;
    text-align: center;
    width: 48px;
    height: 48px;
    font-size: 24px;
    background-color: #FFFFFF;
    outline: none;
}

input:disabled {
    background-color: #EEEEEE;
}

@media (prefers-color-scheme: dark) {
    html,
    body {
        background-color: #121212;
        color: #FAFAFA;
    }

    .form-select {
        color: #FAFAFA;
        background-color: #222222;
    }

    table {
        border-color: #EEEEEE;
    }
    
    td {
        border-color: #EEEEEE;
    }
    
    input {
        color: #FAFAFA;
        background-color: #333333cc;
    }
    
    .preset_value {
        background-color: #1a1a1a;
    }
}


/*  Remove buttons from number input
    Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}